**/__pycache__/*
.vscode/*
dist/*
**/RaceTelemetry_bobbythehuman.egg-info/*
**/RaceTelemetry.egg-info/*
.pypirc

Packaged_Program/*

requirements.txt
other.txt

issues.txt

IRacing_struct.py

README_Backup.md
README_PyPi.md
run_test.bat
package_program.bat